<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blogs</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if (locals.blogs && locals.blogs.length > 0) { %>
      <div class="container app-container">
        <h2 class="mb-3">My Blogs</h2>
        <div class="blog-grid">
          <% blogs.forEach(blog => { %>
            <div class="card soft">
              <img src="<%= blog.coverImageURL %>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <a href="/blog/<%= blog._id %>" class="btn btn-accent mt-2">View</a>
                <a href="/blog/<%= blog._id %>" class="btn btn-accent mt-2">Edit</a>
                <form action="/blog/delete-blog/<%= blog._id %>" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger mt-2">Delete</button> 
                </form>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    <% } else { %>
      <div class="container app-container">
        <div class="card soft p-4 text-center">
          <h5 class="mb-2">You haven't posted any blogs yet!</h5>
          <p class="mb-0">Click <a href="/blog/add-new">here</a> to add a new blog!</p>
        </div>
      </div>
    <% } %>

    <%- include('./partials/script') %>
  </body>
</html>
